// Styles for character info Area

#character-area {
    background-color: $purple;
    padding: 70px 10%;
    border-top: $border;
    border-bottom: $border;
    margin: 50px 0px;
    .bordered {
        background-color: $purple;
        border: $border;
        border-radius: 10px;
        padding:3%;
    }
    table {
        width:100%;
        float:left;
        padding-left: 15px;
        padding-right: 15px;
        min-width:170px;
        margin-bottom: 30px;
        td:nth-child(even){
            text-align:right;
        }
        td:nth-child(odd){
            color:$yellow;
        }
        @media(min-width:768px){
            width:initial;
            margin-right: 10%;
        }
    }
    // Close Button
    #close {
        background:url("../img/open-close.png") no-repeat;

        cursor:pointer;
        width: 60px;
        height: 60px;
        border: none;
        background: url(../img/open-close.png) no-repeat;
        position: relative;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: none;
        top: -30px;
        @media(min-width:850px){
            left:93%;
            top: initial;
            position: absolute;
        }
    }
}
