// Global styling
body {
  overflow-x: hidden;
  @include font;
  font-weight: 300;
  font-size: 12pt;
  color: $white;
  background-image: url("../img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  line-height: 2.5;
}

.yellow {
    color: $yellow !important;
}
.light-blue {
    color: $light-blue !important;
}

h1, th {
    @include font;
    font-weight: 700;
    font-size: 16pt;
}

// Highlight color customization
::-moz-selection {
  background: $light-blue;
  text-shadow: none;
}

::selection {
  background: $light-blue;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $light-blue;
}
