// Global styling
body {
  overflow-x: hidden;
  @include font;
  font-size: 16pt;
  color: $white;
  background-image: url("../img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.yellow {
    color: $yellow !important;
}
.light-blue {
    color: $light-blue !important;
}

h1 {
  font-weight: 700;
  font-size: 20pt;
  @include font;
}

// Button Styles
.btn {
  background-color: $light-blue;
  border-color: $yellow;
  color: $white;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($light-blue, 7.5%) !important;
    border-color: darken($yellow, 7.5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $light-blue;
  text-shadow: none;
}

::selection {
  background: $light-blue;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $light-blue;
}
