// Styles for search form

#search-area {
    max-width:450px;

    // text fields
    input[type="text"] {
        color:$white;
        background-color: $dark-blue;
        border-radius: 0;
        border: 1px solid $yellow;
        margin:10px 0px;
    }
    img {
        margin: 25px 0px;
        width:100%;
    }

    // Button Styles
    .btn {
        background-color: $light-blue; // For browsers that do not support gradients
        background: -webkit-linear-gradient($light-blue, adjust-hue( $light-blue, 14% )); // For Safari 5.1 to 6.0
        background: -o-linear-gradient($light-blue, adjust-hue( $light-blue, 14% )); //For Opera 11.1 to 12.0
        background: -moz-linear-gradient($light-blue, adjust-hue( $light-blue, 14% )); //For Firefox 3.6 to 15
        background: linear-gradient($light-blue, adjust-hue( $light-blue, 14% )); //Standard syntax
        border: none;
        width:100%;
        border-radius: 0;
        color: $white;
        &:active,
        &:focus,
        &:hover {
            background: linear-gradient(darken($light-blue, 7.5%), darken(adjust-hue( $light-blue, 5% ),7.5%)) !important;
            cursor: pointer;
        }
        &:active,
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
        }
    }
}
