// Variables

$white: #fff !default;
$gray: #f8f9fa !default;
$black: #000 !default;
$yellow: #D7A12E !default;
$light-blue: #1A8782 !default;
$dark-blue: #0B122F !default;
$purple: #0b122f !default;
